
# Data files
**/*.tfrecord
**/*.record
coco_2017/

# Virtual environment
env/

**/__pycache__
**/.DS_Store

# PyCharm
.idea

# model directories
models/original_models/
models/retrained_models/
train/
